
.bg{
  width: 100%;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/AmiraBerr/ObservableExercices/master/src/assets/images/66.jpg');
  height: 100%;
  width: 100%;
  top:0;
  margin-right:0;
  background-repeat: no-repeat;
}

.container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.767);

  color:white;
  border-radius: 2em;
  box-shadow:white;

}

p{
  margin-top: 5px;
  text-align: center;
  font-family:'Chalkduster', fantasy;
  font-size: 60px;
}



